@{
    ViewData["Title"] = "Confirm Email";
}

    <h1 class="ui header">@ViewData["Title"]</h1>

<div class="jumbotron">
    <p>
        Thankyou for confirming your email. Please <a asp-controller="Home" asp-action="Index">click here</a> to login
    </p>
</div>
